[Unit]
Description=Set keyboard layout for i3
After=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=i3

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap -layout us,ru -option grp:alt_shift_toggle
RemainAfterExit=yes

[Install]
WantedBy=default.target
