Xcursor.size: 22

! XTerm/UXTerm dark theme
XTerm*background: #000000
XTerm*foreground: #fdf6e3
XTerm*cursorColor: #fdf6e3
XTerm*faceName: JetBrainsMono Nerd Font:size=12
XTerm*saveLines: 10000

! Solarized dark color palette
XTerm*color0: #073642
XTerm*color1: #dc322f
XTerm*color2: #859900
XTerm*color3: #b58900
XTerm*color4: #268bd2
XTerm*color5: #d33682
XTerm*color6: #2aa198
XTerm*color7: #eee8d5
XTerm*color8: #002b36
XTerm*color9: #cb4b16
XTerm*color10: #586e75
XTerm*color11: #657b83
XTerm*color12: #839496
XTerm*color13: #6c71c4
XTerm*color14: #93a1a1
XTerm*color15: #fdf6e3

! UXTerm uses the same settings
UXTerm*background: #000000
UXTerm*foreground: #fdf6e3
UXTerm*cursorColor: #fdf6e3
UXTerm*faceName: JetBrainsMono Nerd Font:size=12
UXTerm*saveLines: 10000
UXTerm*color0: #073642
UXTerm*color1: #dc322f
UXTerm*color2: #859900
UXTerm*color3: #b58900
UXTerm*color4: #268bd2
UXTerm*color5: #d33682
UXTerm*color6: #2aa198
UXTerm*color7: #eee8d5
UXTerm*color8: #002b36
UXTerm*color9: #cb4b16
UXTerm*color10: #586e75
UXTerm*color11: #657b83
UXTerm*color12: #839496
UXTerm*color13: #6c71c4
UXTerm*color14: #93a1a1
UXTerm*color15: #fdf6e3
