* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #073642;
    color: #839496;
}

#workspaces button {
    padding: 6px 8px;
    margin: 0 2px;
    background-color: transparent;
    color: #839496;
}

#workspaces button.active {
    background-color: #268bd2;
    color: #fdf6e3;
}

#workspaces button.focused {
    background-color: #268bd2;
    color: #fdf6e3;
}

#workspaces button.urgent {
    background-color: #dc322f;
    color: #fdf6e3;
}

#workspaces button:hover {
    background-color: #586e75;
    color: #fdf6e3;
}

#custom-launcher,
#custom-run,
#custom-resize-mode,
#custom-keyboard-layout,
#pulseaudio,
#network,
#bluetooth,
#power-profiles-daemon,
#idle_inhibitor,
#clock,
#tray,
#custom-power {
    padding: 6px 8px;
    margin: 0 2px;
    background-color: #073642;
    color: #eee8d5;
}

#custom-launcher {
    color: #268bd2;
    font-size: 16px;
}

#custom-resize-mode {
    color: #dc322f;
    font-weight: bold;
}

#custom-keyboard-layout {
    font-weight: bold;
}

#custom-power {
    color: #eee8d5;
    font-size: 16px;
    padding-right: 12px;
}

#pulseaudio.muted {
    color: #dc322f;
}

#network.disconnected {
    color: #dc322f;
}

#bluetooth.off {
    color: #586e75;
}

#clock {
    font-weight: bold;
    color: #fdf6e3;
}

tooltip {
    background-color: #002b36;
    color: #839496;
    border: 1px solid #586e75;
}
