* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #839496;
}

#workspaces button {
    padding: 8px 5px;
    background-color: transparent;
    color: #839496;
}

#workspaces button.active {
    background-color: #268bd2;
    color: #fdf6e3;
}

#workspaces button.focused {
    background-color: #268bd2;
    color: #fdf6e3;
}

#workspaces button.urgent {
    background-color: #dc322f;
    color: #fdf6e3;
}

#workspaces button:hover {
    background-color: #586e75;
    color: #fdf6e3;
}

tooltip {
    background-color: #002b36;
    color: #839496;
    border: 1px solid #586e75;
}
